# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cashier_db
DB_USER=cashier_user
DB_PASSWORD=cashier123

# Server Configuration
PORT=5000
NODE_ENV=development

# JWT Secret (untuk authentication nanti)
JWT_SECRET=your_jwt_secret_key
